
body{
    background-color: #efdecd;
}

.header-links button{
        background: none;
        border: none;
        font-family: 'Cabin', sans-serif;
        color: #834333;
        font-size: 16px;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;
        white-space: nowrap;       /* <<< This keeps "Contact Us" on one line */
        transition: background-color 0.3s, border 0.3s;
      }
      

.reward-button{
 border-radius: 30px;
 width: 100px;
 text-align: center;
 display: block;
  background-color: #834333  ;
  color: white;
  margin: 20px auto;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.reward-button:hover {
    background-color: #b76e79;
  }


.header-links button:hover {
    background-color: #e3c7b0;
    border: 1px solid #834333;
  }

h1,
p,
h2,
h3,
button,
.header-links
{
    font-family: 'Cabin', sans-serif;
    color: #834333;
    ju
}

.logo{
    max-width: 260px;
    height: auto;

}
.main7 img{
    max-width: 260px;
    height: auto;
    border-radius: 20px;
    
}



.header-links{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-bottom: 15px;
    gap: 80px;

}

.main1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
}

.main2{
    flex-direction: column;
    gap: 28px;
    display: flex;
    margin-right: 100px;
}

.main3{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 120px;

}

.main4{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    margin: 40px auto;
    padding: 125px;


}

.main5{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;



}

.main10{
    max-width: 400px;
}

button{
  border-radius: 30px;
  width: 100px;
  padding: 3px 5px;
  background-color: #834333  ;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  

}

button:hover {
    background-color: #b76e79;
  }



.footer{
text-align: center;
padding: 20px;
background-color: #f7e3d3;
color: #834333;
font-family: 'VT323', monospace;
font-size: 18px;
margin-top: 80px;
border-top: 1px solid #d5bfae;
letter-spacing: 0.5px;
      }
